<div>
  <h2>Courses</h2>
  {{#each courses}}
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{this.imageURL}}" class="card-img" alt="{{this.name}}">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <p class="card-text">{{this.rating}}⭐️</p>
        <p class="card-text"><small class="text-muted">Last updated 1 week ago</small></p>
        <a href="/admin/courses/delete/{{this._id}}">
      <button>Delete course</button>
    </a>
      </div>
    </div>
  </div>
</div>
{{/each}}

  <div id="create-courses">
    <form action="/admin/courses/create" method="POST">
      <label>Title:</label>
      <input type="text" name="name" /> <br>
      <label>Description:</label>
      <input type="text" name="description" /> <br>
      <label >Costo:</label>
      <input type="text" name="costo" /> <br>
      <label >Ratign:</label>
      <input type="number" name="rating" min="1" max="5" /> <br>
      <label>imageURL:</label>
      <input type="text" name="imageURL" /> <br>
      <label >Fecha:</label>
      <input type="date" name="fecha" /> <br>
      <label >Duration:</label>
      <input type="number" name="duration" /> <br>
      <input type="submit" value="Create courses">
    </form>
  </div>
</div>